.error-block {
    display: none;
    color: red;
}

.jw-skin-seven .jw-overlay .jw-playlist-container {
    width: 400px;
    left: -20%;
}

.jwplayer .jw-playlist {
    height: 195px;
}

.jwplayer .jw-playlist .jw-option {
    padding: 0 15px;
    margin: auto;
    text-align: left;
}

#content-embed iframe {
    width: 100% !important;
    height: 500px !important;
}